:root {
    --color-primary: #20bfa9 !important;
    --color-primary-dark: #178f7f !important;
    --color-primary-light: #83f1e3 !important;

    --surface-color: #0c0c0c;
    --surface-light-color: #000000;

    --text-color: #fff;
}