:root {
    --color-primary: #20bfa9 !important;
    --color-primary-dark: #178f7f !important;
    --color-primary-light: #83f1e3 !important;

    --surface-color: #171717;
    --surface-light-color: #262626;

    --text-color: #fff;
}